* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
p {
  font-size: 14px;
  color: rgb(36, 35, 35);
}
/* .body1{
    background-image: url(assest/abstract-luxury-soft-red-background-christmas-valentines-layout-designstudioroom-web-template-busine.jpg);
} */
header {
  width: 100%;
  display: flex;

  padding: 10px 70px;
  /* background-color: blue; */
  align-items: center;
  /* background-color:#406a10; */
  /* margin: 0px !important; */
}

.logo img {
  width: 25%;
}
.menu {
  margin-left: auto;
}
.menu ul {
  list-style-type: none;
  display: flex;
}
.menu ul li {
  margin-left: 20px;
  white-space: nowrap;
  color: white;
  font-size: 12px;
}
/* ----------------------content----------------------- */
.section1 {
  background-image: linear-gradient(180deg, #0b587a, transparent);

  /* background-image: url(assest/bg.jpg); */
}
.subSection {
  display: flex;
  align-items: center;
  padding: 50px;
  /* background: currentColor; */
  background-color: #2196f34d;
  /* margin-block: auto; */
  margin: 20px 70px;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 5px;
}
@media only screen and (max-width: 1095px) {
  .subSection {
    display: flex;
    flex-direction: column;
  }
}
.content h2 {
  font-size: 3em;
  line-height: 1.1em;
  font-weight: 500;
}
.content p {
  line-height: 1.4;
  margin-top: 10px;
  
}
.content span {
  color: #dc0736;
  text-shadow: 1px 1px rgb(255 255 255 / 83%);
  font-weight: bold;
  font-family: cursive;
}
/* #09ad11f6 */
.content a {
  line-height: 4.5;
  background-color: #dc0736;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  padding: 10px 30px;
  text-decoration: none;
  box-shadow: 1px 1px 4px rgb(211, 118, 156);
}
.imageBox {
  /* width: 600px; */
  display: flex;
  margin-left: auto;
  /* background-image: url(assest/42152.jpg); */
}
.imageBox {
  position: relative;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {
    right: -150px;
  }
  to {
    right: 15px;
  }
}


.thumbBox {
  display: flex;
  margin-top: -90px;
  padding: 20px 70px;

  position: relative;
  animation: mymove1 5s linear infinite;
}

@keyframes mymove1 {
  0% {
    left: -100px;
  }
  100% {
    left: 6px;
  }
}

.thumbBox .thumb1 img {
  margin: 0 20px;
  /* background-color:#ff0057c7; */
  padding: 5px;
  border-radius: 5px;
  width: 100px;
  box-shadow: 0px 0px 4px #00000021;
}

.thumbBox .thumb2 img {
  margin: 0 20px;
  /* background-color:#ff0057c7; */
  padding: 5px;
  border-radius: 5px;
  width: 63px;
  box-shadow: 0px 0px 4px #00000021;
}
.thumbBox .thumb3 img {
  margin: 0 20px;
  /* background-color:#ff0057c7; */
  padding: 5px;
  border-radius: 5px;
  width: 90px;
  box-shadow: 0px 0px 4px #00000021;
}
.thumbBox img:hover {
  transition: 0.8s;
  transform: translateY(-25%);
  cursor: pointer;
}

.section2 {
  display: flex;
  padding: 50px 70px;
  /* background-color: #ffdbff40;  */
}
@media only screen and (max-width: 883px) {
    .section2 {
      display: flex;
      flex-direction: column;
    }
  }
.Section2ImageBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Section2ImageBox p {
  font-size: large;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-family: cursive;
}
.section2ContentBox {
  display: flex;
  flex-direction: column;
  padding: 0px 10px 10px 10px;
  /* border-radius: 30px; */
  height: 30vh;
  /* width: 77%; */
  box-shadow: 0px 0px 8px #f3e8f29e;
  /* background-color: #324664; */
  color: white;
  background-image: linear-gradient(180deg, #3486ae, #f8f7f7);
  /* margin-bottom: 123px; */
  /* margin-right: -20px; */
  /* margin-bottom: -11%; */
  margin-top: 90px;
}
.section2ContentBox2 {
  background-image: linear-gradient(180deg, #2196f3, #e91e63a6);
  /* background-color: #306c8b; */
  margin-top: 10px;
  padding: 0 20px 20px 20px;
  margin-right: -27px;
}
.section2ContentBox p {
  line-height: 1.4;
  color: white !important;
}
.section2ContentBox h2 {
  /* margin-bottom: 10px; */
  font-weight: 500;
}
.section2ContentBox span {
  /* font-weight: bold; */
  font-size: 55px;
  font-family: cursive;
  color: #ffffff;
  text-shadow: 1px 1px rgb(44, 88, 182);
}
.circle1 {
  /* background-color: red; */
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 132%;
  left: 1%;
  bottom: 10%;
  background-image: linear-gradient(45deg, #5fff90, #e91e6366);
  border-radius: 88px;
}
.circle2 {
  /* background-color: red; */
  height: 7rem;
  width: 7rem;
  position: absolute;
  top: 110%;
  right: 3%;
  bottom: 10%;
  background-image: linear-gradient(202deg, #3fc42e, #ffffff94);
  border-radius: 88px;
}

/* @media only screen and (max-width: 788px) {
    .content {
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
  } */
  @media only screen and (max-width: 1095px) {
    .imageBox img {
      width: 120%;
    }
  }
  @media only screen and (max-width: 500px) {
    .subSection {
     margin: 20px 20px;
    }
    .section2{
        padding: 30px 20px ;

    }
  }
  @media only screen and (max-width: 500px) {
      .thumbBox{
          margin-top: 10px;
      }
    .thumbBox .thumb2 img {
     width: 50px;
    }
    .thumbBox .thumb3 img {
        width: 70px;
       }
       .thumbBox .thumb1 img {
        width: 70px;
       }
  }
